.header {
  display: flex;
  gap: 10px;
  width: 100%;
  height: max-content;
  padding-bottom: 10px;
  background-color: darkslategrey;
  color: white;

  h1 {
    cursor: pointer;
  }

  .spacer {
    flex: 1;
  }
}

.links-container {
  margin-right: 30px;
  display: flex;
  gap: 5px;

  .link-item {
    list-style: none;

    .active {
      background: white;
      color: black;
    }

    a {
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      background-color: darkcyan;
      font-size: 1.2rem;

      &:hover {
        background-color: white;
        color: darkcyan;
      }

      &:active {
        color: white;
        background-color: slategray;
      }
    }
  }
}
